<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ lex('commerce_packingslip.packing_slip_for', {order: order.id}) }}</title>
    <style type="text/css">
        @page {
            size: A4;
            padding: 20mm;
        }
        html, body {
            width: 210mm;
            height: 297mm;
            font-size: 13pt;
            font-family: Georgia, "Times New Roman", serif;
        }
        * {
            box-sizing: border-box;
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
        }
        table.full-width {
            width: 100%;
        }
        .align-top {
            vertical-align: top;
        }
        .align-right {
            text-align: right;
        }
        thead, th, .summary {
            font-weight: bold;
            background-color: #eee !important;
        }

        a {
            color: #000 !important;
            text-decoration: none;
        }

        .products {
            border: 1px solid #bbb;
            width: 100%;
            border-collapse: collapse;
        }

        .products td, .products th {
            padding: 0.75em;
            text-align: left;
            border-bottom: 1px solid #bbb;
        }
        .summary {
            border: 1px solid #bbb;
            border-top: none;
        }
        .summary td {
            padding: 0.5em;
            text-align: left;
        }
        .products .detailrow table {
            width: 90%;
        }

        .meta {
            /*font-size: 1.15em;*/
        }
        .meta dt {
            font-weight:  bold;
        }
        .meta dd {
            margin-bottom: 0.5em;
        }
        .box {
            display: block;
            width: 1.5em;
            height: 1.5em;
            border: 1px solid #999;
        }
    </style>
</head>
<body onload="if (window.opener) { window.print(); setTimeout(window.close, 100); }">

<table class="full-width">
    <tr>
        <td class="align-top">
            <h1>{{ site_name }}</h1>
            <h2>{{ lex('commerce_packingslip') }}</h2>
        </td>
        <td>
            <dl class="meta align-right">
                <dt>{{ lex('commerce.order') }}</dt>
                <dd>#{{ order.id }}</dd>
                <dt>{{ lex('commerce.shipment') }}</dt>
                <dd>#{{ shipment.id }}</dd>
                <dt>{{ lex('commerce.delivery_type') }}</dt>
                <dd>{{ delivery_type.name }}</dd>
                <dt>{{ lex('commerce.shipping_method') }}</dt>
                <dd>{{ shipping_method.name }}</dd>
            </dl>
        </td>
    </tr>
</table>
<table class="full-width">
    <tr>
        <td>
            <h3>{{ lex('commerce.shipping_address') }}</h3>
            {{ shipping|format_address }}
        </td>
        <td>
            <h3>{{ lex('commerce.billing_address') }}</h3>
            {{ billing|format_address }}
        </td>
    </tr>
</table>

<table class="products">
    <thead>
    <tr>
        <td>{{ lex('commerce.quantity') }}</td>
        <td>{{ lex('commerce.product') }}</td>
        <td>{{ lex('commerce.sku') }}</td>
        <td>{{ lex('commerce.barcode') }}</td>
        <td>&nbsp;</td>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{ item.quantity }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.sku }}</td>
            <td>{% if item.product %}{{ item.product.barcode }}{% endif %}</td>
            <td><div class="box"></div> </td>
        </tr>
        {% if item.extra|length > 0 %}
            <tr class="detailrow">
                <td></td>
                <td colspan="4">
                    {{ item.extra|raw }}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
<table class="full-width summary">
    <tbody>
    <tr>
        <td>{{ lex('commerce.total_quantity') }}: {{ shipment.product_quantity }}</td>
        <td>{{ lex('commerce.weight') }}: {{ weight }}</td>
    </tr>
    </tbody>
</table>

{# Enable commerce.debug and uncomment this line to see all available placeholders/data {{ dump() }}#}

</body>
</html>
